---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout
  title="4. Anweisungen"
  previous="/03-schleifen"
  next="/05-bedingungen"
>
  <p>
    Bei den Befehlen von Karol scheinen einige Anweisungen zu fehlen. So
    w&auml;re es doch sehr praktisch, wenn sich Karol einmal umdrehen (Drehung
    um 180 Grad) k&ouml;nnte. Im Prinzip kann Karol sich auch umdrehen, indem er
    den Befehl "LinksDrehen" (oder "RechtsDrehen") zweimal hintereinander
    ausf&uuml;hrt. Aber Karol neue An&shy;weisungen "beizubringen", w&auml;re
    sicherliche die elegant&shy;ere Art.
  </p>
  <p>
    Um Karol eine neue Anweisung beizu&shy;bringen, muss man diese
    <b>vor</b> das Haupt&shy;programm in folgende Form aufschreiben:
  </p>

  <pre>
  <code>
  <i>Anweisung</i> &lt;Name&gt;<br/>
  &nbsp; &nbsp; &lt;Anweisungsfolge&gt;<br/>
  *<i>Anweisung</i><br/>
  </code>
  </pre>
  <p>
    Die neue Anweisung kann dann durch Aufrufen ihres Namens benutzt werden. Mit
    den Befehlen <kbd>Schnell</kbd> und <kbd>Langsam</kbd> entfernt man die
    Verz&ouml;gerung zwischen den einzelnen Anweisungs&shy;schritten. Die
    Anweisung wirkt dann "wie aus einem Guss".
  </p>

  <pre>
  <code>
  <i>Anweisung</i> umdrehen
  &nbsp; &nbsp; <b>Schnell</b> 
  &nbsp; &nbsp; LinksDrehen
  &nbsp; &nbsp; LinksDrehen
  &nbsp; &nbsp; <b>Langsam</b>	 
  *<i>Anweisung</i><br/>	 
  </code>
  </pre>

  <article>
    <header>
      <b>&Uuml;bung:</b>
    </header>

    <p>
      Das Notieren einer An&shy;weisung selbst bewirkt noch keine
      Ver&auml;nderung von Karol. Erst durch den Aufruf der neuen An&shy;weisung
      dreht sich Karol um. Probiere folgend&shy;en Programm&shy;code selbst
      einmal aus.
    </p>

    <pre>
    <code>
    <i>Anweisung</i> umdrehen
    &nbsp; &nbsp; <b>Schnell</b>
    &nbsp; &nbsp; LinksDrehen
    &nbsp; &nbsp; LinksDrehen
    &nbsp; &nbsp; <b>Langsam</b>
    *<i>Anweisung</i>
    <br/>
    umdrehen<br/>
    </code>
    </pre>
  </article>

  <br />

  <article class="aufgabe">
    <header>
      <b>Aufgabe 4:</b>
    </header>
    <p>
      F&uuml;lle nachfolgende An&shy;weisungen mit passendem Programm&shy;code
      aus. Du kannst den unten stehenden Programm&shy;code mit Copy &amp; Paste
      in den Karol-Editor &uuml;bernehmen.
    </p>

    <pre>
    <code>
    &#123; Karol soll sich einmal umdrehen &#125;
    <i>Anweisung</i> umdrehen
    
    *<i>Anweisung</i>	
    
    
    &#123; Karol soll einen Schritt nach links machen,
     die Blickrichtung soll aber unver&auml;ndert bleiben.&#125;
    <i>Anweisung</i> SchrittLinks 
    
    *<i>Anweisung</i>
    
    
    &#123; Karol soll einen Schritt nach rechts machen,
     die Blickrichtung soll aber unver&auml;ndert bleiben. &#125;
    <i>Anweisung</i> SchrittRechts
    
    *<i>Anweisung</i>
    
    
    &#123; Karol soll einen Schritt zur&uuml;ck machen,
     die Blickrichtung soll aber unver&auml;ndert bleiben.&#125;
    <i>Anweisung</i> SchrittZurueck
    
    *<i>Anweisung</i>	 	 
   </code>
  </pre>
  </article>

  <br /><br /><br />

  <article class="aufgabe">
    <header><b>Aufgabe 5:</b></header>
    <p>
      Robot Karol arbeitet in einer B&uuml;cherei. Er soll in jedes Fach eines
      Regals genau ein Buch legen und sich dann in seine Ausgangs&shy;position
      begeben. Schreibe ein Programm f&uuml;r dieses Problem. Benutze die in
      <b>Aufgabe 4</b> neu definierten Anweisungen.
    </p>
    <br />
    <center>
      <img
        src="/images/04_buecherei.png"
        alt=""
        border="0"
        width="403"
        height="405"
        loading="lazy"
      />
    </center>
  </article>
</BaseLayout>
