---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Homepage" previous="/" next="/01-start">
  <h2>Inhaltsverzeichnis</h2>
  <ol>
    <li><a href="/01-start">Wir starten</a></li>
    <li><a href="/02-das-erste-programm">Karol horcht auf Befehle</a></li>
    <li><a href="/03-schleifen">Schleifen</a></li>
    <li><a href="/04-anweisungen">Anweisungen</a></li>
    <li><a href="/05-bedingungen">Bedingungen</a></li>
    <li><a href="/06-eigene-bedingungen">Eigene Bedingungen</a></li>
    <li><a href="/07-verschiedene-uebungen">Verschieden &Uuml;bungen</a></li>
  </ol>
</BaseLayout>
